global
    log /dev/log local0
    daemon
    maxconn 256

defaults
    log global
    option dontlognull
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout check           10s
    maxconn                 3000

frontend front-nginxes
    bind *:80
    default_backend back-nginxes
	
backend back-nginxes
    server s1 172.19.3.11:80
